<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <head th:include="include/header :: header"/>
    <link href="/css/default.css" rel="stylesheet" />
    <title>Change Password</title>
</head>
<body>
<div class="container">
    <form class="form-default" th:action="@{/changepassword}" th:object="${tempUser}" method="post">
        <h2 class="form-heading">비밀번호 변경</h2>
        <p th:if="${isNotEqualPassword}" style="color: red">Please Check your password!</p>
        <p th:if="${isNotEqualTwoNewPassword}" style="color: red">Don't same your new password!</p>
        <table style="margin-top: 5px;">
            <tr>
                <td width="40%;">기존 비밀번호 입력</td>
                <td width="50%;">
                    <input class="form-control" id="change_password_origin_password" type="password" th:field="*{password}" placeholder="Current Password" required="required" />
                </td>
            </tr>
            <tr>
                <td style="font-size: 12px;">새로운 비밀번호 입력</td>
                <td>
                    <input class="form-control" id="change_password_first_password" type="password" th:field="*{ssoId}" placeholder="Password 1" required="required"/>
                </td>
            </tr>
            <tr>
                <td style="font-size: 11px;">새로운 비밀번호 재입력</td>
                <td>
                    <input class="form-control" id="change_password_second_password" type="password" th:field="*{name}" placeholder="Password 2" required="required"/>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <button style="margin-top: 5px;" class="btn pull-right btn-primary" id="change_password_submit_btn" type="submit">완료</button>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>