<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>모임 생성</title>
</head>
<body>
    <h1>모임생성</h1>
    <form th:action="@{/meetings/new}" method="post">
        <p>모임이름: <input type="text" th:field="${meeting.name}" /></p>
        <p>장소: <input type="text" th:field="${meeting.location}" /></p>
        <p>시간: <input type="text" th:field="${meeting.time}" /></p>
        <p>모임 생성자 이름: <input type="text" th:field="${user.name}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>