<!DOCTYPE html> 
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> 
<head> 
    <head th:include="include/header :: header"></head>
    <title>Detail Meeting</title> 
</head> 
<body>

<div class="container">

    <div class="jumbotron">
         <span style="font-size:60px;">Meeting Information</span>
        <button th:if="${isParticipated}" type="button" id="add_payment_btn" class="btn pull-right btn-success" data-toggle="modal" data-target="#add_payment_dialog">결제내역 추가</button>

        <div class="modal fade" id="add_payment_dialog" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">

                <form class="modal-content" th:object="${payment}" action="#" th:action="@{'/meetings/' + ${meeting.id} + '/payment/new'}" method="get">
                    <div class="modal-header">
                        <button id="add_payment_dialog_close_btn" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h5 class="modal-title">결제내역 추가</h5>
                    </div>
                    <div class="modal-body">
                        <span>결제자 : </span>
                        <select id="payment_owner_name" th:field="*{ssoId}">
                            <option th:each="participant : ${participant_list}" th:value="${participant.ssoId}" th:text="${participant.name}"></option>
                        </select>
                        <br/>
                        <span>결제금액</span>
                        <input id="payment_amount" class="form-control" th:field="*{amount}" type="number"/>
                        <br/>
                        <span>상세내역</span>
                        <input id="payment_name" class="form-control" th:field="*{name}" type="text"/>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" type="submit">OK</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>
        </div>

        <table class="table table-striped"> 
            <thead>
                <tr> 
                    <th>이름</th> 
                    <th>장소</th>
                    <th>날짜</th>
                    <th>시간</th>
                </tr>
             </thead>
            <tbody>
                <tr> 
                    <td id="meeting_name" th:text="${meeting.name}"></td>
                    <td id="meeting_location" th:text="${meeting.location}"></td>
                    <td id="meeting_date" th:text="${meeting.date}"></td>
                    <td id="meeting_time" th:text="${meeting.time}"></td>
                </tr>
            </tbody> 
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>참여자</th>
                    <th>은행</th>
                    <th>계좌번호</th>
                    <th>결제내역</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="participant : ${participant_list}">
                    <td id="meeting_participant" th:text="${participant.name}"></td>
                    <td th:text="${participant.account_bank}"></td>
                    <td>
                        <strong th:text="${participant.account_number}"></strong>
                    </td>
                    <td>
                        <div th:each="payment : ${all_payment_list}">
                            <div th:if="${payment.isOwner(participant.ssoId)}">
                                <span style="font-size:15px;" th:text="${payment.amount} + ' ' + ${payment.name}"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <strong>모임신청 URL : </strong><a id="meeting_url" th:href="${meeting.url}" th:text="${meeting.url}"></a><br/>
        <br/>
        <div th:if="${isParticipated}">
            <form th:action="@{'/meetings/' + ${meeting.id} + '/leave'}" method="post">
                <p><input id="leave_meeting_btn" class="btn btn-lg btn-danger" type="submit" value="탈퇴하기"/></p>
            </form>
        </div>
        <div th:unless="${isParticipated}">
            <form th:action="@{'/meetings/' + ${meeting.id} + '/join'}" method="post">
                <p><input id="join_meeting_btn" class="btn btn-lg btn-primary" type="submit" value="참여하기"/></p>
            </form>
        </div>
        <p><a class="btn btn-lg btn-success" href="/" role="button" methods="GET">돌아가기</a></p>
    </div>
    <div th:if="${isParticipated}" class="jumbotron">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>받을 돈</th>
            </tr>
            </thead>
            <tbody id="money_to_receive_list">
                <tr th:each="user : ${money_to_user_list}">
                    <td th:text="${user.name}"></td>
                </tr>
            </tbody>
            <thead>
            <tr>
                <th>보낼 돈</th>
            </tr>
            </thead>
        </table>
    </div>

</div>

<head th:include="include/js :: script"></head>

</body>
</html>
