<!DOCTYPE html> 
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> 
<head> 
    <title>Detail Meeting</title> 
</head> 
<body> 
    <h1>Meeting List</h1> 

    <table> 
        <tr> 
            <td>이름</td> 
            <td>장소</td>         
            <td>시간</td>
        </tr>
     
        <tr> 
            <td th:text="${meeting.name}"></td>              
            <td th:text="${meeting.location}"></td>              
            <td th:text="${meeting.time}"></td>
        </tr>         
    </table>
    <table>
        <tr>
            <td>참여자</td>
        </tr>
        <tr th:each="participant : ${meeting.participantList}">
            <td th:text="${participant.name}"></td>
            <td>
                계좌번호: <strong th:text="${participant.account_number}"></strong>
            </td>
        </tr>
    </table>
    <form th:action="@{'/meetings/' + ${meeting.id} + '/join'}" th:object="${new_participant}" method="post">
        <p>이름: <input type="text" th:field="*{name}" /></p>
        <p>계좌번호: <input type="text" th:field="*{account_number}" /></p>
        <input type="hidden" name="id" th:value="${meeting.id}"/>
        <p><input type="submit" value="참가하기"/></p>
    </form>
    <strong>모임신청 URL : </strong><a th:href="${meeting.url}" th:text="${meeting.url}"></a><br/>

    <a href="/" methods="GET">홈페이지로 가자</a>
</body>
</html>