<!DOCTYPE html> 
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> 
<head> 
    <head th:include="include/header :: header"></head>
    <link href="/css/detail_meeting.css" rel="stylesheet"></link>
    <title>Detail Meeting</title> 
</head> 
<body>
<div class="container">

    <div class="jumbotron">
        <h1>Meeting Information</h1> 

        <table class="table table-striped"> 
            <thead>
                <tr> 
                    <th>이름</th> 
                    <th>장소</th>         
                    <th>시간</th>
                </tr>
             </thead>
            <tbody>
                <tr> 
                    <td th:text="${meeting.name}"></td>              
                    <td th:text="${meeting.location}"></td>              
                    <td th:text="${meeting.time}"></td>
                </tr>
            </tbody> 
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>참여자</th>
                    <th>계좌번호</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="participant : ${participant_list}">
                    <td th:text="${participant.name}"></td>
                    <td>
                        <strong th:text="${participant.account_number}"></strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <strong>모임신청 URL : </strong><a th:href="${meeting.url}" th:text="${meeting.url}"></a><br/>
        <br/>
        <div th:if="${meeting.isParticipant(session.user)}">
            <form th:action="@{'/meetings/' + ${meeting.id} + '/leave'}" method="post">
                <p><input class="btn btn-lg btn-danger" type="submit" value="탈퇴하기"/></p>
            </form>
        </div>
        <div th:unless="${meeting.isParticipant(session.user)}">
            <form th:action="@{'/meetings/' + ${meeting.id} + '/join'}" method="post">
                <p><input class="btn btn-lg btn-primary" type="submit" value="참가하기"/></p>
            </form>
        </div>
        <p><a class="btn btn-lg btn-success" href="/" role="button" methods="GET">돌아가기</a></p>
    </div>

</div>

<head th:include="include/js :: script"></head>
</body>
</html>