<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> 
<head>
    <head th:include="include/header :: header"></head>
    <link href="/css/home.css" rel="stylesheet"></link>
    <title>Nelp</title>
</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Nelp</h3>
                        <nav>
                            <ul class="nav masthead-nav" th:if="${session.user}==null">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a id="login" href="/login" methods="GET">로그인</a></li>
                                <li><a id="signup" href="/signup" methods="GET">회원가입</a></li>
                            </ul>
                            <ul class="nav masthead-nav" th:if="${session.user}!=null">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a id="new" href="/meetings/new" methods="GET">모임을 만들자</a></li>
                                <li><a id="logout" href="/logout" methods="GET">로그아웃</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">Help your meeting.</h1>
                    <p class="lead">Nelp Help your meeting.</p>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p><a href="https://github.com/nelp-dev">Nelp</a> Help to Meeting, by Casper.</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <head th:include="include/js :: script"></head>
</body>
</html>