<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Sign-Up</title>
</head>
<body>
<form action="#" th:action="@{/signup}" th:object="${user}" method="post">
    <p>아이디: <input type="email" th:field="*{ssoId}" /></p>
    <p>이름: <input type="text" th:field="*{name}" /></p>
    <p>비밀번호: <input type="password" th:field="*{password}" /></p>
    <p>계좌번호 <input type="text" th:field="*{account_number}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>