<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <head th:include="include/header :: header"/>
    <link href="/css/default.css" rel="stylesheet" />
    <title>Sign-Up</title>
</head>
<body>

<div class="container">
    <form class="form-default" action="#" th:action="@{/signup}" th:object="${user}" method="post">
        <h2 class="form-heading">Sign Up</h2>
        <input class="form-control" type="number" th:field="*{id}" placeholder="ID" required="required" />
        <input class="form-control" type="text" th:field="*{name}" placeholder="Name"/>
        <input class="form-control" type="password" th:field="*{password}" placeholder="Password"/>
        <input class="form-control" type="text" th:field="*{account_number}" placeholder="Account Number"/>
        <button class="btn btn-lg btn-primary btn-block top-button" type="submit">Submit</button>
        <button class="btn btn-lg btn-warning btn-block" type="reset">Reset</button>
    </form>
</div> <!-- /container -->

</body>
</html>